
@import url('../node_modules/awesome-notifications/dist/style.css');


body {
    text-align: center;
    padding-top: 50px;
    background-color: lightseagreen;
    font-family: Verdana;
}

.container {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.links {
    display: flex;
    justify-content: space-between;
}


.container img {
    display: block;
    width: 120px;
    margin: 0 auto;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.inputs input {
    width: 220px;
    height: 20px;
}

#submit {
    background-color: #24a0ed;
    cursor: pointer;
    color: #ffffff;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color: #58b2eb;
    cursor: pointer;
}

.profile-container {
    max-width: 1080px;
    margin: 0 auto;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;

}
.profile-image img {
    width: 300px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.followers {
    width: 400px;
    background-color: teal;
}



