
@import url('../node_modules/awesome-notifications/dist/style.css');


body {
    text-align: center;
    padding-top: 50px;
    background-color: lightseagreen;
    font-family: Verdana;
}

.container {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

.links {
    display: flex;
    justify-content: space-between;
}


.container img {
    display: block;
    width: 120px;
    margin: 0 auto;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.inputs input {
    width: 220px;
    height: 20px;
}

#submit {
    background-color: #24a0ed;
    cursor: pointer;
    color: #ffffff;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color: #58b2eb;
    cursor: pointer;
}

.profile-container {
    width: 1080px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 15px;
}

.profile-image {
    width: 300px;
}

.profile-image img {
    width: 200px;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.followers {
    width: 400px;
    background-color: gainsboro;
    border-radius: 15px;
}

.followers ul {
    display: flex;
    gap: 50px;
}

.followers ul li {
    list-style: none;
    border-radius: 3px;
    padding: 3px;
    width: 200px;
    background-color: #24a0ed;
    color: #ffffff;
}



